* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.customers-container {
  position: relative;
}

.customer-table-container {
  width: 95%;
  max-height: calc(89% - 1.6rem);
  background-color: white;
  box-shadow: 10px 2px 10px rgba(0, 0, 0, 0.5);
  margin: 0.8rem auto;
  border-radius: .6rem;
  overflow: hidden;
}

.table__body {
  width: 100%;
  max-height: calc(89% - 1.6rem);
  background-color: #fffb;
  overflow: auto;
  overflow: overlay;
}

.table__body::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

.table__body::-webkit-scrollbar-thumb {
  border-radius: .5rem;
  background-color: #0004;
  visibility: hidden;
}

.table__body:hover::-webkit-scrollbar-thumb { 
  visibility: visible;
}

.customer-table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 1rem;
  text-align: left;
  border-bottom: 1px solid #e0e0e0;
}

thead th {
  position: sticky;
  top: 0;
  background-color: #d5d1defe;
  cursor: pointer;
}

tbody tr:nth-child(even) {
  background-color: #0000000b;
}

tbody tr:hover {
  background-color: #fff6 !important;
}

.status-active {
  color: green;
  text-align: center;
}

.status-inactive {
  color: gray;
  text-align: center;
}

.status-pending {
  color: orange;
  text-align: center;
}

.status-declined {
  color: red;
  text-align: center;
}

.status-blacklisted {
  color: rgb(10, 36, 36);
  text-align: center;
}

.pagination {
  display: flex;
  justify-content: flex-end;
  margin-right: 2rem;
  gap: 10px;

  button{
    width: 30px;
    padding: 0.5rem;
  }
}

.filter-panel {
  position: absolute;
  top: 3rem;
  right: 2rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem; /* Added padding for better spacing */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional shadow for depth */
  border-radius: 8px; /* Rounded corners */
}

.filter-panel label {
  display: flex;
  flex-direction: column; /* Stack label and input vertically */
  font-weight: bold; /* Make the label text bold */
}

.filter-panel input,
.filter-panel select {
  padding: 0.5rem;
  border: 1px solid #ccc; 
  border-radius: 4px; 
  outline: none; 
  transition: border-color 0.3s; 
}

.filter-panel input:focus,
.filter-panel select:focus {
  border-color: #007bff; 
}

.filter-panel button {
  padding: 0.5rem 1rem;
  background-color: #007bff; 
  color: white; 
  border: none;
  border-radius: 4px; 
  cursor: pointer; 
}

.filter-panel button:hover {
  background-color: #0056b3; 
}

/* Responsive Styles */
@media (max-width: 1000px) {
  .customer-table-container {
      width: 30%;
      margin-left: 45rem; /* Remove left margin for smaller screens */
  }

  td:not(:first-of-type) {
      min-width: 12rem; /* Adjust based on your content */
  }

.pagination{
    margin-right: 65rem;
}

.filter-panel{
  right: 70rem;
}


  @media(max-width:500px){
.customer-table-container{
  width: 14%;
  margin-left: 60rem;
}
  }
}
