.dashboard{

    .customer-content{
        .customer-stats{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 1rem;
        }
        .total_stats{
            background-color: #fff;
            box-shadow: 5px 2px 5px rgba(0, 0, 0, 0.4);
            width: 200px;
            height: 150px;
            padding: 13px 16px;
            border-radius: 5px;
            padding-top: 2rem;
            padding-left: 2rem;
            
            h3{
                text-transform: uppercase;
                font-size: 14px;
            }

            h2{
                font-size: 24px;
                color: #213F7D;
            }

            svg{
                width: 40px;
                height: 40px;
            }
        }

    }

  @media(max-width:1200px){
    .customer-content{
        .customer-stats{
            display:grid;
            grid-template-columns:repeat(3, 1fr)
        }
    }
  }

    @media (max-width: 900px){
        .customer-content{
            .customer-stats{
               display: grid;
               grid-template-columns: repeat(3, 0.1fr);
               place-content: center;
              margin-left: -8rem;

               .total_stats{
                padding: 8px 8px;
                width: 120px;

               }
            }
        }
    }

    @media (max-width:650px){
        .customer-content{
            .customer-stats{
                display: grid;
                grid-template-columns: repeat(2, 0.1fr);

                .total_stats{
                    padding: 8px 8px;
                    width: 100px;
    
                   }
            }
            
        }
    }

}